<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/root.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="/javascripts/home/index.js" type="module" defer></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <header class="header">
                <h2>Vendor Management System</h2>
                <% if (data && data.name) { %>
                    <h3>Welcome <%= data.name %>
                    </h3>
                    <% } %>
            </header>
            <div class="container-body">
                <aside>
                    <nav class="nav-list">
                        <a id="vendors">Vendors</a>
                        <a id="users">Users</a>
                        <a id="contracts">Contracts</a>
                        <a id="add-category">Add Vendor type</a>
                        <a id="ratings">Ratings</a>
                        <a id="logout">Logout</a>
                    </nav>
                </aside>
                <main>
                    <section class="welcome">
                        <h2>Vendor Dashboard</h2>
                    </section>
                    <section class="section hidden main-section">
                        <div class="section-head">
                            <button id="add-vendor" class="success-btn" type="button">Add Vendor</button>
                            <button type="button" id="add-user" class="success-btn ">Add User</button>
                            <button type="button" id="add-contract" class="success-btn ">Add Contract</button>
                        </div>
                        <div class="section-body">
                            <div class="filter">
                                <span>Filter By</span>
                                <select name="filter" id="filter-select">
                                    <option value="" selected>Select type</option>
                                    <option value="vendor-id">Vendor ID</option>
                                    <option value="vendor-type">Vendor type</option>
                                    <option value="vendor-name">Vendor Name</option>
                                </select>
                                <select name="categories" id="categories" class="hidden"></select>
                                <input type="text" name="search" id="search" class="hidden">
                                <button type="button" id="filter-btn" class="hidden">Filter</button>
                                <button type="button" id="clear-btn" class="hidden">Clear</button>
                            </div>
                            <table id="data-list__table"></table>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </div>
</body>

</html>