<!DOCTYPE html>
<html>

<head>
    <script src="/javascripts/home/index.js"></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Vendor Management System</h1>
    <button type="button" id="vendor">Vendor</button>
</body>

</html>