<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/root.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script src="/javascripts/auth/login.js" defer></script>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="form-container">
                <form id="login-form">
                    <div class="input-container">
                        <label for="user-type">You are:</label>
                        <select name="user_type" id="user-type">
                            <option value="admin">Admin</option>
                            <option value="vendor">Vendor</option>
                            <option value="user">User</option>
                        </select>
                    </div>
                    <div>
                        <div class="input-container">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" required>
                        </div>
                    </div>
                    <div>
                        <div class="input-container">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                    </div>
                    <div class="btn-container">
                        <button type="submit">Login</button>
                        <hr>
                        <p>Don't have an account?
                            <select name="type" id="type">
                                <option value="vendor">Vendor</option>
                                <option value="user">User</option>
                            </select>
                            <button type="button" id="register_account">Register</button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>