<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/root.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <script type="module" src="/javascripts/users/register.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="form-container">
                <form id="add-user-form" class="form">
                    <div>
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" required>
                    </div>
                    <div>
                        <label for="username">Choose Username</label>
                        <input type="text" name="username" id="username" required>
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <div>
                        <label for="phone">Mobile Number</label>
                        <input type="tel" name="phone" id="phone" maxlength="10">
                    </div>

                    <div>
                        <button type="submit">
                            <%= msg %>
                        </button>
                        <button type="button" id="cancel">Cancel </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>