<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/root.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/layouts.css">
</head>

<body class="centered">
    <form action="/register/user" method="post" id="add-vendor-form" class="form">
        <div>
            <label for="vendor-name">Vendor Name</label>
            <input type="text" name="vendor-name" id="vendor-name">
        </div>
        <div>
            <label for="">Registration Number</label>
            <input type="text" name="" id="">
        </div>
        <div>
            <label for="">Type</label>
            <input type="text" name="" id="">
        </div>
        <div>
            <label for="">Services Provided</label>
            <input type="text" name="" id="">
        </div>
        <div>
            <label for="">Location</label>
            <input type="text" name="" id="">
        </div>
        <div>
            <label for="">Contact Person</label>
            <input type="text" name="" id="">
        </div>
        <div>
            <label for="">Contact Number</label>
            <input type="text" name="" id="">
        </div>
        <div>
            <button type="submit">
                <%= msg %>
            </button>
        </div>
    </form>
</body>

</html>